.grid-posts-9 .grid-post-content .post-cover .post-author-box .post-author img {
    margin-left: 0;
    margin-right: 10px;
}

.grid-posts-9 .grid-post-content .post-cover .post-author-box .post-author span {
    margin-left: 0;
    margin-right: 15px;
}