.mobile-menu2-element .mmenu2-side-content {
    right: auto;
    left: -100%;
}

.mobile-menu2-element .mmenu2-side-content li #mega_menu_plus {
    right: 0;
    left: auto;
}

.mobile-menu2-element .mmenu2-side-container.mmenu2-side-show .mmenu2-side-content {
    right: auto;
    left: 0;
}

.mobile-menu2-element .mmenu2-close-btn {
    left: auto;
    right: 20px;
}

.mobile-menu2-element .mmenu2-side-content ul li a svg,
.mobile-menu2-element .mmenu2-side-content ul li img,
.mobile-menu2-element svg,
.mobile-menu2-element li > a i,
.mobile-menu2-element li > a svg,
.mobile-menu2-element li > a img {
    margin-left: 0;
    margin-right: 7px;
}
