.offer-carousel-1 .product-label {
    text-align: left;
}

.offer-carousel-1 .product-label span {
    margin-left: 0;
    margin-right: 7px;
}

.offer-carousel-1 .slider-duration-line {
    float: left;
}