.shop-category6-wrap .bp-title i {
    margin-left: 0;
    margin-right: 7px;
}

.shop-category6-wrap .bp-btns a i {
    margin-right: 0;
    margin-left: 2px;
}

.shop-category6-wrap .box-btns a i {
    margin-right: 0;
    margin-left: 5px;
}