.shop-category4-box .archive-link i {
    margin-right: 0;
    margin-left: 6px;
}

.shop-category4-box .percent-label {
    right: auto;
    left: 0;
}

.shop-category4-box .title-box img {
    margin-right: 7px;
    margin-left: 0;
}