.shop-carousel4-wrap .sc-first-item-content a i {
    margin-right: 0;
    margin-left: 5px;
}

.shop-carousel4-wrap .regular_price,
.shop-carousel4-wrap .reg-price-wrap {
    flex-direction: row-reverse;
}

.shop-carousel4-wrap .regular_price.without-sale .reg-price-wrap {
    direction: rtl;
}

.shop-carousel4-wrap .swiper-wrapper .swiper-slide:nth-child(2) .sc-item-content {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.shop-carousel4-wrap .swiper-wrapper .swiper-slide:last-child .sc-item-content {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.shop-carousel4-wrap .swiper-nav-button {
    transform: rotateY(180deg);
}

.shop-carousel4-wrap .swiper-nav-button.swiper-btn-next {
    left: auto;
    right: 10px;
}

.shop-carousel4-wrap .swiper-nav-button.swiper-btn-prev {
    right: auto;
    left: 10px;
}
