.aicon-svg-banner-box-1:before {
    background-image: url("../img/icons/svg/banner-box-1.svg");
}
.aicon-svg-banner-box-2:before {
    background-image: url("../img/icons/svg/banner-box-2.svg");
}
.aicon-svg-banner-box-3:before {
    background-image: url("../img/icons/svg/banner-box-3.svg");
}
.aicon-svg-banner-box-4:before {
    background-image: url("../img/icons/svg/banner-box-4.svg");
}
.aicon-svg-banner-box-5:before {
    background-image: url("../img/icons/svg/banner-box-5.svg");
}
.aicon-svg-blog-box-posts-1:before {
    background-image: url("../img/icons/svg/blog-box-posts-1.svg");
}
.aicon-svg-blog-box-posts-2:before {
    background-image: url("../img/icons/svg/blog-box-posts-2.svg");
}
.aicon-svg-grid-post-1:before {
    background-image: url("../img/icons/svg/grid-post-1.svg");
}
.aicon-svg-grid-post-2:before {
    background-image: url("../img/icons/svg/grid-post-2.svg");
}
.aicon-svg-grid-post-3:before {
    background-image: url("../img/icons/svg/grid-post-3.svg");
}
.aicon-svg-grid-post-4:before {
    background-image: url("../img/icons/svg/grid-post-4.svg");
}
.aicon-svg-grid-post-5:before {
    background-image: url("../img/icons/svg/grid-post-5.svg");
}
.aicon-svg-grid-post-6:before {
    background-image: url("../img/icons/svg/grid-post-6.svg");
}
.aicon-svg-grid-post-7::before
{
    background-image: url("../img/icons/svg/grid-post-7.svg");
}
.aicon-svg-grid-products:before {
    background-image: url("../img/icons/svg/grid-products.svg");
}
.aicon-svg-information-box-1:before {
    background-image: url("../img/icons/svg/information-box-1.svg");
}
.aicon-svg-information-box-2:before {
    background-image: url("../img/icons/svg/information-box-2.svg");
}
.aicon-svg-information-box-3:before {
    background-image: url("../img/icons/svg/information-box-3.svg");
}
.aicon-svg-information-box-4:before {
    background-image: url("../img/icons/svg/information-box-4.svg");
}
.aicon-svg-information-box-5:before {
    background-image: url("../img/icons/svg/information-box-5.svg");
}
.aicon-svg-information-box-6:before {
    background-image: url("../img/icons/svg/information-box-6.svg");
}
.aicon-svg-information-box-7:before {
    background-image: url("../img/icons/svg/information-box-7.svg");
}
.aicon-svg-information-box-8:before {
    background-image: url("../img/icons/svg/information-box-8.svg");
}
.aicon-svg-item-portfolio:before {
    background-image: url("../img/icons/svg/item-portfolio.svg");
}
.aicon-svg-post-archive-1:before {
    background-image: url("../img/icons/svg/post-archive-1.svg");
}
.aicon-svg-post-archive-2:before {
    background-image: url("../img/icons/svg/post-archive-2.svg");
}
.aicon-svg-post-carousel:before {
    background-image: url("../img/icons/svg/post-carousel.svg");
}
.aicon-svg-post-carousel-2:before {
    background-image: url("../img/icons/svg/post-carousel-2.svg");
}
.aicon-svg-post-carousel-3:before {
    background-image: url("../img/icons/svg/post-carousel-3.svg");
}
.aicon-svg-post-carousel-4:before {
    background-image: url("../img/icons/svg/post-carousel-4.svg");
}
.aicon-svg-post-list:before {
    background-image: url("../img/icons/svg/post-list.svg");
}
.aicon-svg-post-list2:before {
    background-image: url("../img/icons/svg/post-list2.svg");
}
.aicon-svg-post-list3:before {
    background-image: url("../img/icons/svg/post-list3.svg");
}
.aicon-svg-post-list4:before {
    background-image: url("../img/icons/svg/post-list4.svg");
}
.aicon-svg-price-box-1:before {
    background-image: url("../img/icons/svg/price-box-1.svg");
}
.aicon-svg-price-box-2:before {
    background-image: url("../img/icons/svg/price-box-2.svg");
}
.aicon-svg-price-box-3:before {
    background-image: url("../img/icons/svg/price-box-3.svg");
}
.aicon-svg-price-box-4:before {
    background-image: url("../img/icons/svg/price-box-4.svg");
}
.aicon-svg-price-table:before {
    background-image: url("../img/icons/svg/price-table.svg");
}
.aicon-svg-video-post-grid:before {
    background-image: url("../img/icons/svg/video-post-grid.svg");
}
.aicon-svg-video-carousel:before {
    background-image: url("../img/icons/svg/video-carousel.svg");
}
.aicon-svg-video-carousel-2:before {
    background-image: url("../img/icons/svg/video-carousel-2.svg");
}
.aicon-svg-testimonial-box-1:before {
    background-image: url("../img/icons/svg/testimonial-box-1.svg");
}
.aicon-svg-testimonial-box-2:before {
    background-image: url("../img/icons/svg/testimonial-box-2.svg");
}
.aicon-svg-testimonial-box-3:before {
    background-image: url("../img/icons/svg/testimonial-box-3.svg");
}
.aicon-svg-testimonial-box-4:before {
    background-image: url("../img/icons/svg/testimonial-box-4.svg");
}
.aicon-svg-testimonial-box-5:before {
    background-image: url("../img/icons/svg/testimonial-box-5.svg");
}
.aicon-svg-testimonial-box-6:before {
    background-image: url("../img/icons/svg/testimonial-box-6.svg");
}
.aicon-svg-suggestion-posts:before {
    background-image: url("../img/icons/svg/suggestion-posts.svg");
}
.aicon-svg-special-title:before {
    background-image: url("../img/icons/svg/special-title.svg");
}
.aicon-svg-shop-countdown:before {
    background-image: url("../img/icons/svg/shop-countdown.svg");
}
.aicon-svg-shop-category:before {
    background-image: url("../img/icons/svg/shop-category.svg");
}
.aicon-svg-shop-category-1:before {
    background-image: url("../img/icons/svg/shop-category-1.svg");
}
.aicon-svg-shop-category-2:before {
    background-image: url("../img/icons/svg/shop-category-2.svg");
}
.aicon-svg-shop-carousel:before {
    background-image: url("../img/icons/svg/shop-carousel.svg");
}
.aicon-svg-shop-carousel-2:before {
    background-image: url("../img/icons/svg/shop-carousel-2.svg");
}
.aicon-svg-services-box:before {
    background-image: url("../img/icons/svg/services-box.svg");
}
.aicon-svg-services-box-2:before {
    background-image: url("../img/icons/svg/services-box-2.svg");
}
.aicon-svg-services-box-3:before {
    background-image: url("../img/icons/svg/services-box-3.svg");
}
.aicon-svg-search-input:before {
    background-image: url("../img/icons/svg/search-input.svg");
}
.aicon-svg-product-price-box:before {
    background-image: url("../img/icons/svg/product-price-box.svg");
}
.aicon-svg-notice-box-2:before {
    background-image: url("../img/icons/svg/notice-box-2.svg");
}
.aicon-svg-notice-1:before {
    background-image: url("../img/icons/svg/notice-1.svg");
}
.aicon-svg-mailer-lite:before {
    background-image: url("../img/icons/svg/mailer-lite.svg");
}
.aicon-svg-item-videobox:before {
    background-image: url("../img/icons/svg/item-videobox.svg");
}
.aicon-svg-items-carousel:before {
    background-image: url("../img/icons/svg/items-carousel.svg");
}
.aicon-svg-item-call-action:before {
    background-image: url("../img/icons/svg/item-call-action.svg");
}
.aicon-svg-introduction-box:before {
    background-image: url("../img/icons/svg/introduction-box.svg");
}
.aicon-svg-imgbox2:before {
    background-image: url("../img/icons/svg/imgbox2.svg");
}
.aicon-svg-imgbox:before {
    background-image: url("../img/icons/svg/imgbox.svg");
}
.aicon-svg-image-box:before {
    background-image: url("../img/icons/svg/image-box.svg");
}
.aicon-svg-icon-box-3:before {
    background-image: url("../img/icons/svg/icon-box-3.svg");
}
.aicon-svg-icon-box-2:before {
    background-image: url("../img/icons/svg/icon-box-2.svg");
}
.aicon-svg-icon-box:before {
    background-image: url("../img/icons/svg/icon-box.svg");
}
.aicon-svg-countdown-3:before {
    background-image: url("../img/icons/svg/countdown-3.svg");
}
.aicon-svg-countdown:before {
    background-image: url("../img/icons/svg/countdown.svg");
}
.aicon-svg-colorful-title:before {
    background-image: url("../img/icons/svg/colorful-title.svg");
}
.aicon-svg-circular-box:before {
    background-image: url("../img/icons/svg/circular-box.svg");
}
.aicon-svg-category-box:before {
    background-image: url("../img/icons/svg/category-box.svg");
}
.aicon-svg-best-seller-carousel:before {
    background-image: url("../img/icons/svg/best-seller-carousel.svg");
}
.aicon-svg-php-snippet::before
{
    background-image: url("../img/icons/svg/php-snippet.svg");
}
.aicon-svg-product-box-carousel::before
{
    background-image: url("../img/icons/svg/product-box-carousel.svg");
}
.aicon-svg-radio-post::before
{
    background-image: url("../img/icons/svg/radio-post.svg");
}
.aicon-svg-timeline::before
{
    background-image: url("../img/icons/svg/timeline.svg");
}
.aicon-svg-typewriter::before
{
    background-image: url("../img/icons/svg/typewriter.svg");
}
.aicon-svg-product-tab::before
{
    background-image: url("../img/icons/svg/product-tab.svg");
}