.ahura-countdown-element {
    border-radius: 5px;
    background-color: #fff;
}

@media screen and (max-width: 767px){
    .ahura-countdown-element .flip-clock-wrapper ul {
        width: 56px;
    }
}