.ahura_element_faq_2 .ah-items .ah-item {
    padding: 20px 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 0;
}
.ahura_element_faq_2 .ah-items .ah-item:hover,
.ahura_element_faq_2 .ah-items .ah-item.ah-open {
    background-color: #f4f4f4;
}
.ahura_element_faq_2 .ah-items .ah-item .ah-title-section {
    display: flex;
    gap: 15px;
}

.ahura_element_faq_2 .ah-items .ah-item .ah-title-section .ah-title {
    font-size: 18px;
}
.ahura_element_faq_2 .ah-items .ah-item.ah-open .ah-title-section .ah-icon.ah-for-open,
.ahura_element_faq_2 .ah-items .ah-item:not(.ah-open) .ah-title-section .ah-icon.ah-for-close
{
    display: none;
}
.ahura_element_faq_2 .ah-items .ah-item .ah-description {
    color: #868686;
    display: none;
}
