.grid-post2 {
    overflow: hidden;
}

.grid-post2 article {
    border-radius: 10px 10px 10px 10px;
}

.grid-post2 article:hover {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 20px 30px 0 rgba(40, 46, 54, 0.30);
}

.grid-post2 .grid-post2-box1 {
    min-height: 240px;
}

.grid-post2 .grid-post a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.grid-post2 .grid-post {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition-duration: 0.3s;
}

.grid-post2 .grid-post2-box2,
.grid-post2 .grid-post2-box5 {
    height: calc((520px + 145px) / 3);
}

.grid-post2 .grid-post2-box3,
.grid-post2 .grid-post2-box4 {
    height: calc((520px + 50px) / 2);
}

.grid-post2 .grid-information h2 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 19px;
}

.grid-post2 .grid-information span {
    color: #fff;
    font-size: 14px;
}

.grid-post2 .grid-information {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 1.5em 1.5em 1.5em 1.5em;
}

.grid-post2 .grid-information span {
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .grid-post2 > div:first-child,
    .grid-post2 article {
        margin-bottom: 1.5rem;
    }

    .row.grid-post2 .col-md-3 {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 10px;
    }

    .elementor .elementor-element .row.grid-post2 .col-md-3 article {
        height: 240px;
    }
}