.grid-posts-9 .grid-post-content {
    padding: 15px;
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
}

.grid-posts-9 > .row {
    row-gap: 20px;
}

.grid-posts-9 .grid-post-content .post-content-top, 
.grid-posts-9 .grid-post-content .post-content-bottom {
    width: 100%;
}

.grid-posts-9 .grid-post-content .post-cover > img {
    width: 100%;
    height: 320px;
    border-radius: 20px;
    object-fit: cover;
}

.grid-posts-9 .grid-post-content .post-cover {
    position: relative;
}

.grid-posts-9 .grid-post-content .post-cover .post-author-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.grid-posts-9 .grid-post-content.without-thumb .post-cover .post-author-box {
    position: relative;
}

.grid-posts-9 .post-likes {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 70px;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    background-color: #ffdcc7;
}

.grid-posts-9 .post-likes i {
    width: 100%;
    font-size: 27px;
    color: #d10000;
}

.grid-posts-9 .post-likes span {
    font-size: 13px;
    color: #383838;
}

.grid-posts-9 .grid-post-content .post-cover .post-author-box .post-author {
    background-color: #fff;
    display: inline-block;
    padding: 7px;
    border-radius: 50px;
    box-shadow: 0 0 15px rgb(0 0 0 / 33%);
}

.grid-posts-9 .grid-post-content .post-cover .post-author-box .post-author img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50px;
    margin-left: 10px;
}

.grid-posts-9 .grid-post-content .post-cover .post-author-box .post-author span {
    font-size: 14px;
    color: #858585;
    font-weight: 400;
    margin-left: 15px;
}

.grid-posts-9 .grid-post-content .post-title {
    margin: 15px 0;
}

.grid-posts-9 .post-title h2 {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 700;
    color: #0b0c40;
}

.grid-posts-9 .post-excerpt {
    margin-bottom: 15px;
}

.grid-posts-9 .post-excerpt p {
    font-size: 15px;
    font-weight: 400;
    color: #8d8d8d;
    line-height: 1.5;
}

.grid-posts-9 .post-metas {
    border-top: 2px solid #f0f0f0;
    margin-bottom: 15px;
    color: #bbb;
    padding-top: 10px;
}

.grid-posts-9 .post-btn a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 11px;
    background-color: #fff;
    border: 1px solid #8f8fa1;
    color: #0b0c40;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    transition: ease .3s;
}

.grid-posts-9 .ahura-pagination {
    padding: 10px;
    margin-top: 15px;
    text-align: center;
}

.grid-posts-9 .ahura-pagination :where(span, a) {
    display: inline-block;
    margin: 3px;
    padding: 7px 15px;
    color: #4c4c4c;
    background-color: #f0f0f0;
    border-radius: 50px;
    font-size: 15px;
    transition: ease .3s;
}

.grid-posts-9 .ahura-pagination :where(span, a):hover, 
.grid-posts-9 .ahura-pagination span.current {
    background-color: #0b0c40;
    color: #fff;
}

