.icon-box-5-wrap .icons-box {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6,minmax(0,1fr));
    align-items: center;
    justify-content: center;
}

.icon-box-5-wrap .icon-box-content {
    text-align: center;
    position: relative;
}

.icon-box-5-wrap .icon-box-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 150px;
}

.icon-box-5-wrap .icon-box-title {
    font-size: 14px;
    color: #000;
    margin-top: 5px;
}

@media screen and (max-width: 1024px){
    .icon-box-5-wrap .icons-box {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
}

@media screen and (max-width: 768px){
    .icon-box-5-wrap .icons-box {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}