.imgbox {
    width: 100%;
    height: 190px;
    display: block;
    background-color: #6EC1E4;
    color: #fff;
    background-size: 115px;
    background-position: center bottom;
    text-align: center;
    -webkit-transition: background-size 1s;
    transition: background-size 1s;
    padding: 20px 0 100px;
    background-repeat: no-repeat;
}

.imgbox:hover {
    background-size: 200px;
}

.imgbox p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.imgbox span {
    font-size: 15px;
}