.mega-menu2-element {
    position: relative;
}

.mega-menu2-element .mm2-side-wrapper {
    display: none;
}

.mega-menu2-element .mm2-button,
.mega-menu2-element .mm2-side-button {
    padding: 8px;
    text-align: center;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    transition: ease .3s;
}

.mega-menu2-element .mm2-button {
    overflow: hidden;
}

.mega-menu2-element .mm2-wrapper {
    width: 270px;
}

.mega-menu2-element .mm2-button > i {
    vertical-align: middle;
    margin: 0 5px;
}

.mega-menu2-element .mm2-button > svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 7px;
}

.mega-menu2-element .mm2-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e72828;
    transition: ease .3s;
}

.mega-menu2-element .mm2-wrapper:hover .mm2-button:after {
    width: 100%;
}

.mega-menu2-element .mm2-container {
    position: absolute;
    top: 100%;
    width: 1140px;
    max-height: 600px;
    display: none;
}

.mega-menu2-element .mm2-container.mm2-show {
    display: flex;
}

.mega-menu2-element .mm2-overlay{
    position: fixed;
    display: none;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 34, 90, 0.22);
    z-index: 999;
    margin-top: 1px;
}

.mega-menu2-element .mm2-side-overlay {
    margin: 0;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(14 34 90 / 43%);
}

.mega-menu2-element .mm2-content {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 10px #00000038;
}

.mega-menu2-element .mm2-items .menu > li > ul {
    display: none;
}

.mega-menu2-element .mm2-content .menu li {
    padding: 0;
    margin: 0;
}

.mega-menu2-element .mm2-content .menu li a {
    text-align: right;
}

.mega-menu2-element .mm2-content .menu > li > a {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding: 13px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: ease .3s;
}

.mega-menu2-element .mm2-wrapper li #mega_menu_plus {
    display: none;
}

.mega-menu2-element .mm2-content .menu > li > a svg,
.mega-menu2-element .mm2-content .menu > li > a img,
.mega-menu2-element .mm2-content .menu > li > a i {
    float: right;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.mega-menu2-element .mm2-content .menu > li > a i {
    margin-top: 3px;
}

.mega-menu2-element .mm2-content .menu > li > a:hover,
.mega-menu2-element .mm2-content .menu > li.current-menu-item > a,
.mega-menu2-element .mm2-content .menu > li.active-menu-item > a {
    background-color: #f9f9f9;
    border-color: #f0f0f0;
}

.mega-menu2-element .mm2-items {
    width: 200px;
    height: auto;
    overflow: auto;
    border-left: 1px solid #f0f0f0;
    direction: ltr;
}

.mega-menu2-element .mm2-sub-items {
    width: calc(100% - 200px);
    display: flex;
    background-position: left 20px bottom 20px;
    background-repeat: no-repeat;
    background-size: 300px;
}

.mega-menu2-element .mm2-items::-webkit-scrollbar,
.mega-menu2-element .mm2-sub-items::-webkit-scrollbar {
    width: 5px;
}

.mega-menu2-element .mm2-items::-webkit-scrollbar-track,
.mega-menu2-element .mm2-sub-items::-webkit-scrollbar-track {
    background-color: #0000000a;
}

.mega-menu2-element .mm2-items::-webkit-scrollbar-thumb,
.mega-menu2-element .mm2-sub-items::-webkit-scrollbar-thumb {
    background-color: #0000001c;
}

.mega-menu2-element .mm2-sub-items > ul {
    display: block;
    padding: 20px;
    gap: 7px;
    width: 100%;
    background-position: left 20px bottom 20px;
    background-repeat: no-repeat;
    background-size: 0;
}

.mega-menu2-element .mm2-sub-items > ul::after {
    display: block;
    clear: both;
    content: "";
}

.mega-menu2-element .mm2-sub-items > ul > li {
    max-width: 25%;
    min-width: 16%;
    display: inline-block;
    float: right;
    padding: 10px;
}

.mega-menu2-element .mm2-sub-items ul li a {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
}

.mega-menu2-element .mm2-sub-items ul li.menu-item-has-children > a,
.mega-menu2-element .mm2-sub-items ul li.menu-item-first > a {
    font-weight: 700;
    border-right: 2px solid #e72828;
    padding-right: 7px;
}

.mega-menu2-element .mm2-sub-items ul li a:hover {
    color: #e72828;
}

.mega-menu2-element .mm2-side-container {
    display: block;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    transition: ease .3s;
}

.mega-menu2-element .mm2-side-button {
    width: 40px;
    height: 40px;
    border: 1px solid #dddddd;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.mega-menu2-element .mm2-side-button img,
.mega-menu2-element .mm2-side-button svg {
    max-width: 100%;
    max-height: 100%;
}

.mega-menu2-element .mm2-side-content {
    position: absolute;
    top: 0;
    right: -100%;
    transition: ease .3s;
    width: 300px;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
}

.mega-menu2-element .mm2-side-content ul li a svg,
.mega-menu2-element .mm2-side-content ul li img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 7px;
}

.mega-menu2-element .mm2-side-content ul ul {
    display: none;
}

.mega-menu2-element .mm2-side-content ul li {
    position: relative;
}

.mega-menu2-element .mm2-side-content ul li.is-toggled > a,
.mega-menu2-element .mm2-side-content ul li.is-toggled > span {
    color: #e72828;
}

.mega-menu2-element .mm2-side-content ul li a {
    width: 100%;
    display: inline-block;
    padding: 12px;
    font-size: 14px;
    transition: ease .3s;
}

.mega-menu2-element .mm2-side-content ul li #mega_menu_plus {
    transition: ease .3s;
    top: 3px;
}

.mega-menu2-element .mm2-side-content ul li.is-toggled > #mega_menu_plus {
    transform: rotate(180deg);
}

.mega-menu2-element .mm2-side-content ul li #mega_menu_plus:before {
    content: "\f107";
}

.mega-menu2-element .mm2-side-content ul ul li #mega_menu_plus {
    margin-top: 2px;
}

.mega-menu2-element .mega-menu2-element .mm2-side-content ul ul.sub-menu {
    display: none;
    background: none;
    background-size: 0;
    background-color: #f0f0f0;
}

.mega-menu2-element .mm2-side-content ul ul.mega_menu_show_ul {
    display: block;
}

.mega-menu2-element .mm2-side-content ul ul.sub-menu li a {
    border-bottom: 1px solid #0000000d;
}

.mega-menu2-element .mm2-side-container.mm2-side-show {
    user-select: auto;
    opacity: 1;
    pointer-events: all;
}

.mega-menu2-element .mm2-side-container.mm2-side-show .mm2-side-content {
    right: 0;
}

.mega-menu2-element .mm2-side-head {
    padding: 20px 12px;
    border-bottom: 1px solid #00000017;
    display: flex;
    align-items: center;
}

.mega-menu2-element .mm2-side-head a {
    display: flex;
    align-items: center;
    width: 100%;
}

.mega-menu2-element .mm2-side-head img {
    max-width: 100px;
    object-fit: contain;
}

.mega-menu2-element .has-mm-title span {
    font-size: 15px;
    font-weight: 400;
    color: #333;
    display: none;
}

.mega-menu2-element .mm2-side-button.has-mm-title {
    display: flex;
    gap: 7px;
}

@media screen and (max-width: 1200px) {
    .mega-menu2-element .mm2-container {
        width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .mega-menu2-element .mm2-wrapper {
        display: none;
        width: 100%;
    }

    .mega-menu2-element .mm2-side-wrapper {
        display: block;
    }

    .mega-menu2-element .has-mm-title span {
        display: inline-block;
    }
}