.menu2-element .menu2-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.menu2-element .menu-items-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 0;
    height: 2px;
    background-color: #e72828;
    transition: ease .2s;
}

.menu2-element .menu2-wrapper ul ul {
    top: 100%;
    border-radius: 16px 0 16px 16px;
    border: 1px solid #f0f0f0;
    transition: ease .2s;
    transform: translateY(20px);
}

.menu2-element .menu2-wrapper ul li {
    position: relative;
    border: none;
}

.menu2-element .menu2-wrapper ul li:hover ul {
    transform: translateY(0);
}

.menu2-element .menu2-wrapper li a:hover,
.menu2-element .menu2-wrapper li.current-menu-item > a {
    color: #e72828;
}

.menu2-element .menu2-wrapper li img,
.menu2-element .menu2-wrapper li svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 7px;
}

.menu2-element .menu2-wrapper ul li li.simple ul {
    top: 0;
}

.menu2-element .menu2-side-wrapper {
    display: none;
}

.menu2-element .menu2-side-button {
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: ease .3s;
    border: 1px solid #dddddd;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.menu2-element .menu2-side-button img,
.menu2-element .menu2-side-button svg {
    max-width: 100%;
    max-height: 100%;
}

.menu2-element .menu2-side-overlay {
    margin: 0;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(14 34 90 / 43%);
}

.menu2-element .menu2-side-container {
    display: block;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    transition: ease .3s;
}

.menu2-element .menu2-side-content {
    position: absolute;
    top: 0;
    right: -100%;
    transition: ease .3s;
    width: 300px;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
}

.menu2-element .menu2-side-content ul li {
    width: 100%;
}

.menu2-element .menu2-side-content ul li a svg,
.menu2-element .menu2-side-content ul li img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 7px;
}

.menu2-element .menu2-side-content ul ul {
    display: none;
    position: unset;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.menu2-element .menu2-side-content ul li {
    position: relative;
}

.menu2-element .menu2-wrapper ul li a {
    padding: 6px;
    line-height: 1.7;
}

.menu2-element .menu2-side-content ul li.is-toggled > a,
.menu2-element .menu2-side-content ul li.is-toggled > span {
    color: #e72828;
}

.menu2-element .menu2-side-content ul li a {
    width: 100%;
    display: inline-block;
    padding: 12px;
    line-height: 1.7;
    margin: 0;
    font-size: 14px;
    transition: ease .3s;
}

.menu2-element .menu2-side-content ul li #mega_menu_plus {
    transition: ease .3s;
    top: 3px;
}

.menu2-element .menu2-side-content ul li.is-toggled > #mega_menu_plus {
    transform: rotate(180deg);
}

.menu2-element .menu2-side-content ul li #mega_menu_plus:before {
    content: "\f107";
}

.menu2-element .menu2-side-content ul ul li #mega_menu_plus {
    margin-top: 2px;
}

.menu2-element .menu2-side-content ul ul.sub-menu {
    display: none;
    background: none;
    background-size: 0;
    background-color: #f0f0f0;
}

.menu2-element .menu2-wrapper ul li li a {
    padding: 9px 15px;
}

.menu2-element .menu2-side-content ul ul.mega_menu_show_ul {
    display: block;
}

.menu2-element .menu2-side-content ul ul.sub-menu li a {
    border-bottom: 1px solid #0000000d;
}

.menu2-element .menu2-side-container.menu2-side-show {
    user-select: auto;
    opacity: 1;
    pointer-events: all;
}

.menu2-element .menu2-side-container.menu2-side-show .menu2-side-content {
    right: 0;
}

.menu2-element .menu2-side-head {
    padding: 20px 12px;
    border-bottom: 1px solid #00000017;
    display: flex;
    align-items: center;
}

.menu2-element .menu2-side-head a {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu2-element .menu2-side-head img {
    max-width: 100px;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .menu2-element .menu2-wrapper {
        display: none;
    }

    .menu2-element .menu2-side-wrapper {
        display: block;
    }
}