body:not(.elementor-editor-active) .ahura-mobile-navbar-3 {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    width: 100%;
}

body:not(.elementor-editor-active) .custom-render-widgets-container .ahura-mobile-navbar-3 {
    position: relative;
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 25px 25px 0 0;
    padding: 10px;
    box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.13);
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item {
    text-align: center;
    flex: 1 0 0;
    align-self: center;
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item a i {
    position: relative;
    top: 3px;
    color: #787878;
    font-size: 22px;
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item a,
.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item a i {
    display: inline-block;
    transition: ease 0.3s;
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item-primary a {
    background-color: #d72f36;
    border-radius: 50px;
    padding: 15px;
    box-shadow: 0 0 15px 0 #d72f36;
}

.ahura-mobile-navbar-3 .navbar-3 .navbar-items .nav-item-primary a i {
    color: #fff;
}